trigger:
- master
- develop

variables:
  sdk_version: 3.1.x
  dockerRepositoryRoot: sannel
  dockerTagBase: $(Build.SourceBranchName)-$(Build.BuildId)
  loggerImageName: house.sensorlogging
  listenerImageName: house.sensorlogging.listener
  imageTag: $(Build.SourceBranchName)-$(Build.BuildId)
  projectFolder: Sannel.House.SensorLogging
  listenerProjectFolder: Sannel.House.SensorLogging.Listener
  mainProjectPath: src/$(projectFolder)/$(projectFolder).csproj
  mainConfigPath: src/$(projectFolder)/app_config
  tagVersion: 3.1
  tagCodeName: buster
  hasClient: false
  hasTests: true
  disableLinux: false
  disableArm64: false

jobs:
- template: build/tasks/linux-arm.yaml
  parameters:
    arch: arm32
    archLong: arm32v7
    ridSuffix: arm
    qemuStatic: qemu-arm-static
    project: $(projectFolder)
    imageName: $(loggerImageName)
    jobName: sensorlogging

- template: build/tasks/linux-arm.yaml
  parameters:
    arch: arm32
    archLong: arm32v7
    ridSuffix: arm
    qemuStatic: qemu-arm-static
    project: $(listenerProjectFolder)
    imageName: $(listenerImageName)
    dockerRepositoryName: $(listenerDockerRepositoryName)
    jobName: sensorlistener

- template: build/tasks/linux-arm.yaml
  parameters:
    arch: arm64
    archLong: arm64v8
    project: $(projectFolder)
    imageName: $(loggerImageName)
    dockerRepositoryName: $(dockerRepositoryName)
    jobName: sensorlogging

- template: build/tasks/linux-arm.yaml
  parameters:
    arch: arm64
    archLong: arm64v8
    project: $(listenerProjectFolder)
    imageName: $(listenerImageName)
    dockerRepositoryName: $(listenerDockerRepositoryName)
    jobName: sensorlistener

- template: build/tasks/linux.yaml
  parameters:
    project: $(projectFolder)
    imageName: $(loggerImageName)
    dockerRepositoryName: $(dockerRepositoryName)
    jobName: sensorlogging

- template: build/tasks/linux.yaml
  parameters:
    project: $(listenerProjectFolder)
    imageName: $(listenerImageName)
    dockerRepositoryName: $(listenerDockerRepositoryName)
    jobName: sensorlistener
